/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v22-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* *::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
img {
  object-fit: cover;
  display: flex;
}
.btn {
  padding: 12px 32px;
  border-radius: 33px;
  font-size: 14px;
  font-weight: 600;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1261px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 4%;
  line-height: 1;
  background-color: #fff;
}

/* boshlanish */

.header {
  background-color: #f6ebda;
}
.header-container {
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-bottom: 46px;
}

.site-logo {
}
.site-logo-image {
}
.sitenav {
}
.sitenav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.sitenav-item {
}
.sitenav-link {
  color: #000;
}

.sitenav-link:hover {
  color: #ff902b;
}

.header-nav-container-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}
.glonal-search {
  box-shadow: 6px 2px 24px 0px #00000021;
  border-radius: 35px;
}
.glonal-search-input {
  padding: 10px 12px 10px 35px;
  background-image: url("../img/akar-icons_search.svg");
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: center left 14px;
  border: 0;
  cursor: copy;
  border-radius: 35px;
}

.glonal-search-input:focus {
  outline: none;
}
.header-nav-container-actions-img {
}
.header-hero-container {
}

/* tugash qismi */

.header-hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-hero-content {
  width: 100%;
  max-width: 489px;
}
.header-hero-title {
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0;
  font-size: 48px;
  margin-bottom: 24px;
}
.orange-text {
  color: #ff902b;
}
.header-hero-description {
  line-height: 140%;
  color: #7e7d7a;
  margin-bottom: 32px;
}
.header-hero-btns {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header-hero-btn {
  display: flex;
  align-items: center;
  background-color: #2f2105;
  font-size: 14px;
  font-weight: 600;
  color: #ffff;
  gap: 10px;
}

.header-hero-btn:hover {
  opacity: 0.8;
  color: #ff902b;
}

.header-hero-btn-outline {
  color: #ff902b;
}
.header-hero-btn-outline:hover {
  opacity: .9s;
  color: #7e7d7a;
}

.header-hero-img {
}
